<!-- Title section -->
<div>
  <label>Title</label>
  <input type="text" name="title" value="<%= book.title %>">
</div>

<!-- Author section -->
<div>
  <label>Author</label>
  <select name="author">
    <% authors.forEach(author => { %>
      <% if (author.id === book.author) { %>
        <option selected label="<%= author.name %>"  value="<%= author.id %>"></option>
      <% } else { %>
        <option label="<%= author.name %>"  value="<%= author.id %>"></option>
      <% } %>
    <% }) %>
  </select>
</div>

<!-- Published date section -->
<div>
  <label>Publish Date</label>
  <input type="date" name="publishedDate"
    value="<%= book.publishedDate == null ? '' :
    book.publishedDate.toISOString().split('T')[0] %>">
</div>

<!-- Page Count -->
<div>
  <label>Page Count</label>
  <input type="number" min="1" name="pageCount" value="<%= book.pageCount %>">
</div>

<!-- Page Cover -->
<div>
  <label>Page Cover</label>
  <input type="file" name="cover" class="filepond">
</div>

<!-- Description -->
<div>
  <label>Description</label>
  <textarea name="description" value="<%= book.description %>"></textarea>
</div>